.clickable {
  cursor: pointer; }

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.absolute-center-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-thumb {
  background: #273370; }

::-webkit-scrollbar-track {
  background: #F1F1F1; }

body {
  scrollbar-face-color: #273370;
  scrollbar-track-color: #F1F1F1; }

@keyframes flash {
  from {
    background-color: white; }
  50% {
    background-color: #F26739; }
  to {
    background-color: white; } }
.help {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 4s; }

#window {
  font-family: din;
  width: 100%;
  height: 90vh;
  margin: 5vh 0;
  overflow-y: hidden;
  background-color: #EEE;
  border: 1px solid #273370; }
  #window .header {
    height: 50px;
    padding: 12px 16px;
    background-color: #273370;
    font-size: 18px;
    color: #FFF; }
  #window .chatPanel {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    overflow-y: auto; }
    #window .chatPanel .chatListViewport {
      flex: 1;
      overflow-y: auto; }
      #window .chatPanel .chatListViewport #chatList {
        background-color: white; }
        #window .chatPanel .chatListViewport #chatList .chatItem {
          display: flex;
          padding: 8px 12px;
          border-top: 1px solid #273370; }
          #window .chatPanel .chatListViewport #chatList .chatItem .chatAvatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden; }
          #window .chatPanel .chatListViewport #chatList .chatItem .chatData {
            position: relative;
            display: inline-block;
            flex: 1;
            height: 50px;
            vertical-align: top;
            margin-left: 7px; }
            #window .chatPanel .chatListViewport #chatList .chatItem .chatData .chatMessage {
              position: absolute;
              bottom: 0;
              width: 100%;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
        #window .chatPanel .chatListViewport #chatList .chatItem:first-child {
          border-top: transparent; }
  #window .main {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 65%;
    height: 100%;
    margin: auto; }
    #window .main .flex {
      display: flex;
      flex-direction: column;
      height: 100%; }
      #window .main .flex .messageViewport {
        flex: 1;
        overflow-y: auto;
        padding: 0 5% 5% 16px;
        background-color: #DDD;
        background-attachment: fixed; }
      #window .main .flex footer {
        display: flex; }
    #window .main .message {
      list-style: none;
      overflow: auto;
      margin: 7px 0; }
      #window .main .message .msg {
        position: relative;
        border-radius: 7px;
        padding: 6px 7px 8px 9px;
        max-width: 80%; }
      #window .main .message .in {
        float: left;
        background-color: #FFF;
        border: 1px solid #273370; }
      #window .main .message .out {
        float: right;
        background-color: #FFF;
        border: 1px solid #F26739; }
      #window .main .message .name {
        font-size: 110%;
        color: #273370; }
      #window .main .message .text {
        white-space: pre-wrap; }
      #window .main .message .text::after {
        content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline; }
      #window .main .message .time {
        position: absolute;
        right: 7px;
        bottom: 5px;
        font-size: 0.85em;
        color: #888; }
    #window .main footer #messageInput {
      width: 100%; }

.chatlogin input {
  width: initial; }

/*# sourceMappingURL=chat.css.map */
