@import '_commons.scss';
@import '_scrollbars.scss';

$fontPrimary: din;
$fontColor: #273370;
$fontColorHeader: #FFF;
$fontColorGrey: #888;
$fontSize: 14px;
$fontSizeHeader: 18px;

$colorPrimary: #273370;
$colorSecondary: #F26739;
$colorGreyLight: #EEE;
$colorPink: #EF3F71;
$colorGreyDark: #DDD;

$windowHeight: 90vh;
$headerHeight: 50px;

@include scrollbars(5px, $colorPrimary, #F1F1F1);

@keyframes flash {
    // 0%   {background-color: white;}
    // 25%	 {background-color: $colorSecondary; }
    // 50%  {background-color: $colorSecondary; }
    // 75%	 {background-color: white; }
    // 100% {background-color: white; }
    from { background-color: white; }
    50%  { background-color: $colorSecondary; }
    to { background-color: white; }
}
.help {
	animation-name: flash;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-duration: 4s;
}
#window {
	font-family: $fontPrimary;
	width: 100%;
	height: $windowHeight;
	margin: 5vh 0;
	overflow-y: hidden;
	background-color: $colorGreyLight;
	border: 1px solid $colorPrimary;
	.header {
		height: $headerHeight;
		padding: 12px 16px;
		background-color: $colorPrimary;
		font-size: $fontSizeHeader;
		color: $fontColorHeader;
	}
	.chatPanel {
		display: inline-flex;
		flex-direction: column;
		height: 100%;
		width: 35%;
		overflow-y: auto;
		.chatListViewport {
			flex: 1;
			overflow-y: auto;
			#chatList {
				background-color: white;
				.chatItem {
					display: flex;
					padding: 8px 12px;
					border-top: 1px solid $colorPrimary;
					.chatAvatar {
						width: 50px;
						height: 50px;
						border-radius: 50%;
						overflow: hidden;
					}
					.chatData {
						position: relative;
						display: inline-block;
						flex: 1;
					    height: 50px;
					    vertical-align: top;
					    margin-left: 7px;
						.chatTitle {
							// margin: 7px;
						}
						.chatMessage {
							position: absolute;
	    					bottom: 0;
	    					width: 100%;
	    					overflow-x: hidden;
	    					white-space: nowrap;
	    					text-overflow: ellipsis;
						}
					}
				}
				.chatItem:first-child {
					border-top: transparent;
				}
			}
		}
	}
	.main {
		display: inline-block;
		position: relative;
		vertical-align: top;
		width: 65%;
		height: 100%;
		margin: auto;
		.flex {
		    display: flex;
		    flex-direction: column;
		    height: 100%;
			.messageViewport {
				flex: 1;
				overflow-y: auto;
				padding: 0 5% 5% 16px;
				background-color: $colorGreyDark;
				background-attachment: fixed;
			}
			footer {
				display: flex;
			}
		}
		.message {
			list-style: none;
			overflow: auto;
			margin: 7px 0;
			.msg {
				position: relative;
				border-radius: 7px;
				padding: 6px 7px 8px 9px;
				max-width: 80%;
			}
			.in {
				float: left;
				background-color: #FFF;
				border: 1px solid $colorPrimary;
			}
			// .in::after{
			// 	content: '';
			// 	left: -11px;
			// 	position: absolute;
			// 	bottom: 3px;
			// 	width: 12px;
			// 	height: 19px;
			// 	background: url("../img/inbubbletail.png") 50% 50% no-repeat;
			// 	background-size: contain;
			// }
			.out {
				float: right;
				background-color: #FFF;
				border: 1px solid $colorSecondary;
			}
			// .out::after{
			// 	content: '';
			// 	right: -11px;
			// 	position: absolute;
			// 	bottom: 3px;
			// 	width: 12px;
			// 	height: 19px;
			// 	background: url("../img/outbubbletail.png") 50% 50% no-repeat;
			// 	background-size: contain;
			// }
			.name {
				font-size: 110%;
				color: $colorPrimary;
			}
			.text {
				white-space: pre-wrap;
			}	
			.text::after{
			    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
			    display: inline;
			}
			.time {
				position: absolute;
				right: 7px;
				bottom: 5px;
				font-size: 0.85em;
				color: $fontColorGrey;
			}
		}
		footer {
			#messageInput {
				width: 100%;
			}
		}
	}
}

.chatlogin {
	input {
		width: initial;
	}
}