@font-face {
    font-family: din;
    src: url(../fonts/DIN-Medium.ttf);
}

hr {
  padding: 0;
  margin: 0;
}

.hrContent {
  border-top: 1px solid black;
  margin: 20px -40px;
}

nav#navigation {
  position: fixed;
  background-color: #273370;
  padding-bottom: 5px;
  width: 20%;
  height: 100vh;
}

nav ul#navLink {
  text-align: right;
  padding-right: 15%;
  padding-top: 110px;
  color: white;
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  text-transform: uppercase;
}

nav ul#navLink a {
  position: relative;
  color: white;
  text-decoration: none;
}
nav ul#navLink a:hover {
  color: white;
}
nav ul#navLink a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav ul#navLink a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav #navBottomPanel ul:first-of-type {
  padding-top: 20px;
}
nav #navBottomPanel ul{
  text-align: right;
  color: white;
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  text-transform: uppercase;
}

nav ul li:not(:first-child) {
  padding-top: 12px;
}

.btn.btn-default {
  background-color: #EF3F71;
  /*border-color: #ffffff;*/
  border-radius: 0px;
  color: white;
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
  -moz-box-shadow: inset 0px 0px 0px 1px white;
  box-shadow: inset 0px 0px 0px 1px white;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 8px;
}

.entityBlock {
  border: 1px solid white;
  display: inline-block;
  padding: 4px 10px;
  margin: 0 2px;
  margin-bottom: 4px;
  color: #F26739;
  background-color: white;
  font-weight: bold;
}

.inlineBlock {
  display: inline-block;
}

.navExtras {
  text-align: right;
  padding-right: 15%;
  height: 20%;
}

.navExtras:not(:first-of-type) {
  padding-top: 10px;
}

.posAbsolute {
  position: absolute;
}

.posRelative {
  position: relative;
}

input.textBox.form-control {
  width: 80%;
  border: none;
  border-bottom: 1px solid #595959;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 2px;
  font-size: 22px;
}

input.textBox.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tbArea:not(:first-of-type) {
  padding-top: 25px;
}

.tbArea:last-of-type {
  /*padding-top: 0;*/
}

.tbArea p {
  margin-bottom: 0px;
}

.utteranceBlock {
  border: 1px solid #273370;
  background-color: #273370;
  color: white;
  padding: 0 10px;
  padding-top: 4px;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.vertCenter {
  top: 50%;
  transform: translateY(-50%);
}

#actionBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#actionBtn .btn {
  width: 100%;
}

.displayGroup {
  padding-right: 8%;
  overflow-y: scroll;
  height: 70%;
}

#displayUtterances {
  position: absolute;
  top: 525px;
  overflow-y: scroll;
  width: 80%;
  z-index: -10;
}

#displayUtterances p {
  padding: inherit 0 0 0;
  margin: 0;
}

.vertDivider {
  display: inline-block;
  background-color: white;
  width: 1px;
  height: 40px;
}

#logo {
  display: inline-block;;
  height: 30px;
  margin-top: -22px;
  margin-right: 0;
}

#logoText {
  margin-top: -22px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  color: white;
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  font-size: 12px;
}

#logoExtraText {
  right: 0;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
}

#navBottomPanel {
  background-color: #F26739;
  height: 100%;
}

#navLogoPos {
  position: absolute;
  right: 0;
  padding-right: 15%;
  padding-top: 40px;
}

#navRightArrow {
  height: 12px;
  width: auto;
  padding-left: 10px;
  margin-top: -2px;
}

#pageContent {
  width: 80%;
  height: 100%;
  float: right;
  padding: 0 40px 0 40px;
}

.pageHeader {
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  text-transform: uppercase;
  padding-top: 40px;
  font-size: 28px;
  color: #EF3F71;
}

.pageSubheader {
  font-family: "din", "Helvetica-Neue", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 18px;
}

.subheaderMini {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 15px;
  color: #EF3F71;
}

#fixedPageContent {
  position: fixed;
  background-color: white;
  width: 80%;
}

.entitySelectedBlock {
  display: inline-block;
  padding: 2px 5px;
  color: #2298fc;
  background-color: white;
  margin-right: 5px;
}

// Styling for jquery autocomplete
.autocomplete-suggestions {
  border: 1px solid black !important;
  overflow: auto;
}

.autocomplete-suggestion {
  font-family: "din", "helvetica-neue", "arial", "sans-serif";
  font-size: 22px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  background-color: white;
}

.autocomplete-suggestion:not(:last-child) {
  border-bottom: 1px solid black;
}

.autocomplete-selected {
  background: #2298fc;
  color: #B7DEFF;
}

.autocomplete-selected strong {
  color: white !important;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.autocomplete-no-suggestion {
  font-family: "din", "helvetica-neue", "arial", "sans-serif";
  font-size: 22px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  background-color: white;
}

.utteranceIntent {
  font-size: 16px;
  font-weight: bold;
}

.utteranceExploded {
  font-size: 18px;
  padding-top: 5px;
}

.selectedEntity {
  border-bottom: 2px solid yellow;
}

.hoverEntity {
  background-color: white;
  color: #2298fc;
}

.noSelect {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hoverSelectedEntity {
  background-color: yellow;
  color: black;
}

#previewArea {
  margin-top: 15px;
}

#previewAreaContent {
  width: 80%;
}

.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  padding: 20px 60px;
  margin: 5% 0;
}

.bgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.7;
}

.blurOverlay {
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(20px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.dialogBtn {
  display: block;
  margin-top: 20px;
}

.invisible {
  display: none;
}

.selectedEntityOverlay {
  font-size: 20px;
}

.groupSelected {
  position: relative;
}

.entityLabel {
  position: absolute;
  bottom: 30px;
  left: 0px;
  background-color: white;
  border: 1px solid #2298fc;
  padding: 2px 6px;
  z-index: 3;
  min-width: 100px;
}

.hrOverlay {
  border-top: 1px solid black;
  margin: 5px 0 15px 0;
}

.overlayNoMargin {
  margin-bottom: 0;
  padding-top: 15px;
}

.indentOverlay {
  padding: 0 20px;
  padding-bottom: 20px;
}

#isOptionalCbWrapper {
  padding-bottom: 15px;
}

.legendOverlay {
  padding-top: 15px;
}

#dragArea {
  width: 80%;
  height: 50px;
  border: 1px solid red;
}

#draggableOne, #draggableTwo, #draggableThree, .draggableOne, .draggableTwo, .draggableThree {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  background-color: red;
}

#draggableTwo, .draggableTwo {
  background-color: blue;
}

#draggableThree, .draggableThree {
  background-color: purple;
}

g text {
  fill: white;
  text-anchor: middle;
}

.displayGroup {
  color: white;
}

#dateTimeCb {
  padding-bottom: 15px;
}

.entityLabelHint {
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
}

select.pageDdl {
  font-size: 25px;
}

.warningMsg {
  background-color: #9A0000;
  color: white;
  width: 80%;
  padding: 1% 5%;
  margin-top: 2%;
}

.warningImg {
  display: inline-block;
  background-image: url(../img/danger.png);
  width: 20px;
  margin-top: -25px;
  margin-right: 12px;
}

.warningMsg p {
  display: inline-block;
  width: 80%;
  padding: 0;
  margin: 0;
}

/***** api page *****/
#selected-apis {
  min-height: 100px;
  padding-bottom: 25px;
  border: 1px solid #ddd;
  background-color: #F26739;
}

/***** gmapps *****/
#map-container {
  height: 400px;
  width: 600px;
}
#map {
  height: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

label.subheaderMini {
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  color: #273370;
  font-size: 14px;
}

label.subheaderMini.apiLabel {
  padding-bottom: 0;
}

label.subheaderMini > * {
  display: block;
}

input {
  color: black;
  border: none;
  border-bottom: 1px solid #273370;
  font-size: 18px;
  width: 80%;
}

input#indoor {
  width: auto;
}

#apis.container {
  width: 80%;
  margin: 0;
  padding: 0;
  padding-bottom: 300px;
}

#api-list.container, #apiListContainer, #apiSelectedListContainer {
  padding-left: 0;
}

#apiSelectedListContainer, #apiListContainer {
  padding-right: 0;
}

li.list-group-item:first-child, li.list-group-item:last-child, li.list-group-item {
  border-radius: 0;
  background-color: #273370;
  color: white;
}

#selected-apis li.list-group-item {
  background-color: #273370;
}

.api-node.ui-draggable {
  cursor: -webkit-grab;
}

.api-node.ui-draggable-dragging {
  color: white;
  z-index: 10;
  background-color: #273370;
  cursor: -webkit-grabbing;
}

.genreLabel {
  font-size: 18px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.provider {
  margin-bottom: 0;
  padding: 5px 10px;
  background-color: #EF3F71;
  display: inline-block;
}

.list-group-item label {
  display: block;
  margin-top: 20px;
}

.list-group-item label.parameter {
  margin-top: 0;
}

.parameter > * {
  display: block;
}

.parameter input {
  width: 100%;
}

label.invisible {
  display: none;
}

.readOnlyTextField {
  border: none;
}

#eventLatitude, #eventLongitude {
  font-size: 14px;
}
